{% extends "base.html" %}

{% block content %}
  <h1>Welcome to 52Payments!</h1>
  <div class="search-box">
    <div class="search-row">
      <div id='search-nav' class="search-nav">
        <div class="selected items-title-div">
          <a class= 'items-title' onclick="javascript:select_items_title(this)">Business Types</a>
        </div>
        <div class="items-title-div">
          <a class="items-title" onclick="javascript:select_items_title(this)">Pricing Method</a>
        </div>
        <div class="items-title-div">
          <a class="items-title" onclick="javascript:select_items_title(this)">Equipments</a>
        </div>
        <div class="items-title-div">
          <a class="items-title" onclick="javascript:select_items_title(this)">Complimentary Services</a>
        </div>
      </div>
      <div class="search-row">
        *Select search criteria (Not selecting any will return all results)
      </div>
      <div id = 'items' class="items">
      </div>
    </div>
    <div class="search-row">
      <div id='chosen-title' class="search-nav">
      </div>
      <div id = 'selected-items' class="items">
      </div>
      <form action='/search_results' method="get" name="search-box-form">
        {{ form.search_criteria }}
        <div class="button-wrapper">
          <button id='search-button' class='button' type="submit" name="button">Search</button>
        </div>
    </form>
    </div>
  </div>

  <div class="featured-title">
    <h2>Featured Processors</h2>
  </div>
  <div class="box-row">
    {% for company in companies %}
      {% include 'small_company_box.html' %}
    {% endfor %}
  </div>
<script type="text/javascript">
  var left_width = document.getElementById('search-nav').offsetWidth + 'px';
  //document.getElementById('items').style.width = left_width;
  var biz_type = ['Retail', 'Restaurant', 'E-Commerce',
                  'Healthcare/Medical', 'Mobile', 'Professional/Personal Services',
                  'Non-Profit', 'High-Risk', 'High-Volume', 'Other'];
  var srv_type = ['Marketing', 'Analytics', 'Recurling Bill',
                  'Chargeback', 'Security', 'Other'];
  var equip_type = ['Verifone', 'Ingenico', 'Other'];
  var pricing_type = ['Tiered', 'Interchange Plus',
                      'Flat', 'Custom'];
  var types = {
    "Business Types" : biz_type,
    "Complimentary Services" : srv_type,
    "Equipments" : equip_type,
    "Pricing Method" : pricing_type
  }
  var current_type = "Business Types";
  var items = document.getElementById('items');
  var selected_items = document.getElementById('selected-items');
  var selected_item_list = [];
  var search_criteria = document.getElementById('search_criteria');
  var fill_items = function(list_, items, selected = 0){
    for (var i = 0; i < list_.length; i++){
      var item = document.createElement('div');
      item.className = 'item';
      if (selected){
        item.className = 'item selected-item';
        item.innerHTML = list_[i] + ' <span style="font-weight:bold;"><a class="items-title" onclick="javascript:deselect(this)">×</a></span>';
      } else{
        item.setAttribute("id", list_[i]);
        item.innerHTML = '<a class="items-title" onclick="javascript:select(this)">' + list_[i] + '</a>';
      };
      items.appendChild(item);
    };
  }
  fill_items(biz_type, items);
  var select = function(item){
    pop(types[current_type], item.innerHTML);
    selected_item_list.push(current_type + ': '+ item.innerHTML);
    fill_items([current_type + ': '+ item.innerHTML], selected_items, 1);
    item.parentElement.remove();
    document.getElementById('chosen-title').style.opacity= 1;
    search_criteria.value = selected_item_list.join(',');
  }
  var deselect = function(item){
    var item = item.parentElement.parentElement;
    var selected_item_name = item.innerHTML.split('<span')[0];
    var type = selected_item_name.split(': ')[0];
    var item_name = selected_item_name.split(': ')[1];
    pop(selected_item_list, selected_item_name);
    types[type].push(item_name);
    if (types[current_type].includes(item_name)){
      fill_items([item_name], items);
    }
    item.remove();
    if (selected_item_list.length == 0){
      document.getElementById('chosen-title').style.opacity= 0;
    };
    search_criteria.value = selected_item_list.join(',');
  }
  var select_items_title = function(items_title){
    current_type = items_title.innerHTML;
    items_title = items_title.parentElement;
    var items_titles = document.getElementsByClassName('items-title-div');
    for (var i = 0; i < items_titles.length; i++){
      items_titles[i].className = 'items-title-div';
    };
    items_title.className = 'selected items-title-div'
    var current_num = items.childNodes.length
    for (var i = 1; i < current_num; i++){
      items.childNodes[1].remove();
    };
    fill_items(types[current_type], items);
  }
</script>
{% endblock %}
