

<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/login.css') }}">

<form action="" method="post" name="login-form">
    {{ form.hidden_tag() }}
    <div id="login-box" class="">
      <div id = 'login-inner-box' class="">
        {% for field in form %}
          {% if field.name != 'csrf_token'%}
            <div class="login-field-text">
              {{ field.label.text }}
            </div>
            <div class="login-field">
              {{field}}
            </div>
          {% endif %}
        {% endfor %}
        <br>
        <div class="button-wrapper">
          <button id='login-button' class='button' type="submit" name="button">Login</button>
        </div>
      </div>
    </div>
</form>
{% endblock %}
