{% extends "base.html" %}
{% block content %}
<div style='margin:auto; margin-top: 3rem;' class='width-80'>
  <div class="row">
    <img style='max-width:20rem;' class='side-logo' src="{{ url_for('static', filename='side_logo.svg') }}" alt="52paymments_logo">
    <h1 style='padding-left:2rem; color:#8679A9;'>
      "Making the Process of Finding Right Card Processor Quick and Easy."
    </h1>
  </div>
  <p class='larger_p'>
    52payments serves a single purpose; making the process of finding the right card processor quick and easy.
  </p>
  <p class='larger_p'>
    To cost-aware savvy business owners who are looking to accept card payments, finding the right card processor can save money and time. It can even help improving the businesses through better checkout experiences, and other complimentary services.
  </p>
  <p class='larger_p'>
    There are innumerable number of card processors out there. Sometimes, it can be a big challenge for business owners to find the best suitable card processor. While vast number of comparison websites and reviewers provide good information, the questions about the reliability and effectiveness still remain.
  </p>
  <p class='larger_p'>
    52payments attempts to clear the questions of reliability and effectiveness. For the sake of initiating a trusted and objective source of information for users, 52payments not only offers the objective descriptive information about card processors, but also provide a platform where users can openly publish their own reviews and ratings and freely access them.
  </p>
  <p class='larger_p'>
    Furthermore, finding card processor is made easier by refining the pool of available choices with the imposition of the search criterias such as pricing methods, supported equipments, supported business types, and etc.
  </p>
</div>
{% endblock %}
