<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'review.html' %}
<script src="{{ url_for('static', filename='js/base.min.js') }}"></script>
<script type="text/javascript">
  var currentDOM;
  var objs = document.getElementsByClassName('decision-area');
  var send_decision = function(decision){
    var xhr = new XMLHttpRequest();
    var urlsafe = document.getElementById('urlsafe').value;
    var type = document.getElementById('type').value;
    xhr.open('POST', '/admindecision');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        currentDOM.style.display = 'none';
      };
    xhr.send('urlsafe=' + urlsafe + '&decision='+decision + '&type='+type);
  };

  for (var i = 0; i < objs.length; i++){
    obj = objs[i];
    var divElem = document.createElement('div');
    divElem.setAttribute('class', 'row');
    var approve = document.createElement('button');
    approve.innerHTML = 'Approve';
    approve.setAttribute('type','submit');
    approve.addEventListener('click', function(){
      send_decision('true');
      currentDOM = this.parentElement.parentElement.parentElement;
    });
    var decline = document.createElement('button');
    decline.innerHTML = 'Decline';
    decline.setAttribute('type','submit');
    decline.addEventListener('click', function(){
      send_decision('false');
      currentDOM = this.parentElement.parentElement.parentElement;
    });
    divElem.appendChild(decline);
    divElem.appendChild(approve);
    obj.appendChild(divElem);
  };
</script>
{% endblock %}
