<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-signin-client_id" content="456242400193-rvmtrqiuemt0ma9hfedb89fp6iullu9u.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{{ url_for('static', filename='js/google_signin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='bower_components/normalize.css/normalize.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='bower_components/milligram/dist/milligram.min.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/base.css') }}">
    <title>52 Payments</title>
  </head>
  <body>
    <div style='border-bottom:1px solid #d6c9ca;'>
      <div class="row" style = 'max-width: 1130px; margin:auto; padding-left:5px; padding-right:5px;'>
        <div class="column">
          <ul class="nav_ul">
            <a class="nav_a" href="{{url_for('index')}}"><img id="logo" class='logo' src="{{ url_for('static', filename='side_logo.svg') }}" alt="52paymments_logo"></a>
            {% if current_user.is_authenticated %}
            <div style='display:none;' class="g-signin2"></div>
            <li class="nav_li"><a class="nav_a" onclick= 'javascript:signOut()' href="{{url_for('logout')}}">Sign-out</a></li>
            <li class="nav_li"><a class="nav_a" href="{{url_for('my_account')}}">My Account</a></li>
            {% else %}
            <li class="nav_li"><a class="nav_a" href="{{url_for('signup')}}">Sign-up</a></li>
            <li class="nav_li"><a class="nav_a" href="{{url_for('login')}}">Sign-in</a></li>
            {% endif %}
            <li class="nav_li"><a class="nav_a" href="{{url_for('index')}}">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="warning">
      {% for message in messages %}
          {{ message }} <br>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div id='content-container' style = 'max-width: 1130px; margin:auto; padding-left:5px; padding-right:5px;'>
      {% block content %}{% endblock %}
    </div>
    <footer class='footer' style = 'max-width: 1130px;'>
      <div class="row">
        <img class='square-logo' style='margin-right:1rem; margin-left:2rem;' src="{{ url_for('static', filename='square_logo.svg') }}" alt="52paymments_logo"/>
        <p>
          © 2016-2017 52Payments. All Rights Reserved
          <br>
          - <a class="nav_a" href="/index">
            Home
          </a>
          - <a class="nav_a" href="#">
            About
          </a>
          - <a class="nav_a" href="#">
            Contact
          </a>
          - <a class="nav_a" href="#">
            Terms
          </a>
        </p>
      </div>

    </footer>
  </body>
</html>
