<!DOCTYPE html>

<html>
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="456242400193-rvmtrqiuemt0ma9hfedb89fp6iullu9u.apps.googleusercontent.com">
    <script src="{{ url_for('static', filename='js/google_signin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>52 Payments</title>
  </head>
  <body>
    <div>
      <ul class="nav_ul">
        <a class="nav_a" href="{{url_for('index')}}"><img id="logo" src="{{ url_for('static', filename='logo-compressed.svg') }}" alt="52paymments_logo" width="200px"></a>
        {% if current_user.is_authenticated %}
          <div style='display:none;' class="g-signin2"></div>
          <li class="nav_li"><a class="nav_a" onclick= 'javascript:signOut()' href="{{url_for('logout')}}">Sign-out</a></li>
        {% else %}
          <li class="nav_li"><a class="nav_a" href="{{ url_for('signup')}}">Sign-up</a></li>
          <li class="nav_li"><a class="nav_a" href="{{url_for('login')}}">Sign-in</a></li>
        {% endif %}
        <li class="nav_li"><a class="nav_a" href="#">About</a></li>
        <li class="nav_li"><a class="nav_a" href="{{url_for('index')}}">Search</a></li>
      </ul>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="warning">
      {% for message in messages %}
          {{ message }} <br>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div id='content-container'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
