<!DOCTYPE html>
<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div>
  <a href="#">
    <button id='small-search-button' class= 'button' type="button" name="button">Search</button>
  </a>
</div>

<div class="company-profile-container">
  <div class="company-profile-top-row">
    <img id="company-profile-logo" src="{{ url_for('img', company_profile_name=company.company_profile_name) }}" alt="company_logo" width="200px">
    <a href="#">
      <button id='company-apply-button' class= 'button' type="button" name="button">Apply</button>
    </a>
    <a href="{{url_for('company_write_review', company_profile_name=company.company_profile_name)}}">
      <button id='company-review-button' class= 'button' type="button" name="button">Write a Review</button>
    </a>
  </div>

  <div class="company-left-col">
    <div class="company-profile-basic-box">
      {% if company.pricing_range %}
        Pricing Range: {{company.pricing_range[0]}}% ~ {{company.pricing_range[1]}}%<br>
      {% endif %}
      Overall User Rating <br>
      {% for i in range(company.rounded_rating)%}
        <span class='rating-star'>★</span>
      {% endfor %}
      {% for i in range(5-company.rounded_rating)%}
        <span class='rating-star'>☆</span>
      {% endfor %}
      {{bjs().round(company.avg_rating)}} ({{company.num_ratings}}) <br>
      √ Verified With 52Payments <br>
    </div>

    {% if company.pricing_method %}
    <div class="company-profile-basic-box">
      Pricing Method: <br>
      {% for method in company.pricing_method%}
      - {{method}} <br>
      {% endfor %}
    </div>
    {% endif %}

    {% if company.provided_srvs %}
    <div class="company-profile-basic-box">
      Provided Services: <br>
      {% for srvs in company.provided_srvs%}
      - {{srvs}} <br>
      {% endfor %}
    </div>
    {% endif %}


    {% if company.complementary_srvs %}
    <div class="company-profile-basic-box">
      Complementary Services: <br>
      {% for srvs in company.complementary_srvs%}
      - {{srvs}} <br>
      {% endfor %}
    </div>
    {% endif %}

    {% if company.equipment %}
    <div class="company-profile-basic-box">
      Equipment <br>
      {% for equip in company.equipment%}
      - {{equip}} <br>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="company-right-col">
    <div class="company-profile-basic-box">
      {% if company.title %}
        <h2>{{ company.title }}</h2>
      {% endif %}
      {{company.full_description}}
    </div>
  </div>
  <div id='review-box' class="company-right-col">
    {% if reviews %}
      {% include 'review.html' %}
    {% endif %}
    <div id = 'page-moves'>
      <a id ='prev' class='page-move' style="display:none;" href="#">Prev</a>
      <a id ='next' class='page-move' style="display:none;" href="#">Next</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var page = 0;
  var next_page, prev_page;

  var reviews = document.getElementsByClassName('review');

  var hide_all = function(reviews){
    for (var i = 0; i < reviews.length; i++){
      reviews[i].style.display = 'none';
    };
  }
  var create_page_moves = function(page, reviews){
    next_page = page+1;
    prev_page = page-1;
    var next = document.getElementById('next');
    next.setAttribute('href', 'javascript:display_current_page(next_page, reviews)');
    next.style.display = 'none';
    var prev = document.getElementById('prev');
    prev.setAttribute('href', 'javascript:display_current_page(prev_page, reviews)');
    prev.style.display = 'none';
    if (page != 0){
      prev.style.display = 'inline-block';
    };
    if (reviews.length/3 > page+1){
      next.style.display = 'inline-block';
    };
  }
  var display_current_page = function(page, reviews){
    hide_all(reviews);
    for (var i = page*3; i < (page+1)*3 && i < reviews.length; i++){
      reviews[i].style.display = 'block';
    }
    create_page_moves(page, reviews);
  }
  display_current_page(page, reviews);
</script>

{% endblock %}
