<!DOCTYPE html>
<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="large-company-profile-container">
  <div class="row" style='align-items:flex-end;'>
    <img id="company-profile-logo" class='side-logo' style='align-self:flex-start; padding-right:1rem;' src="{{ url_for('img', company_profile_name=company.company_profile_name) }}" alt="company_logo">
    <div class="row" style='flex-direction:row;'>
      <a href="{{company.landing_page}}" target = '_blank'>
        <button class='company-apply-button' style = 'display:flex; margin-left:1rem;' type="button" name="apply-button">Apply</button>
      </a>
      {% if current_user.is_authenticated and current_user%}
      <a href="javascript:show_review_box()">
        <button id='company-review-button' style = 'display:flex; margin-left:1rem;' onclick='on_write_review()' class='company-review-button' type="button" name="button">Write a Review</button>
      </a>
      {% else %}
      <a href="javascript:alert_login_required()">
        <button style = 'display:flex; margin-left:1rem;'id='company-review-button' class='company-review-button' type="button" name="wirte-review-button">Write a Review</button>
      </a>
      {% endif %}
    </div>
  </div>
  {% include 'write_review.html' %}
  <div class="row">
  <div class="column left-col">
    <div class="company-profile-basic-box">
      {% if company.title %}
        Name: {{company.title}}<br>
      {% endif %}
      {% if company.website %}
        Website: {{company.website}}<br>
      {% endif %}
      {% if company.phones %}
        {% for phone in company.phones %}
          {{ phone }} <br>
        {% endfor %}
      {% endif %}
    </div>
    <div class="company-profile-basic-box">
      Overall User Rating: <br>
      {% for i in range(company.rounded_rating)%}
      <span class='rating-star'>★</span>
      {% endfor %}
      {% for i in range(5-company.rounded_rating)%}
      <span class='rating-star'>☆</span>
      {% endfor %}
      {{company.avg_rating}} ({{company.num_ratings}}) <br>
    </div>
    <div class="company-profile-basic-box">
      {% if company.pricing_range %}
        Pricing Range: {{company.pricing_range[0]}}% ~ {{company.pricing_range[1]}}%<br>
      {% endif %}
      {% if company.rate_range and company.per_transaction_range %}
        Detailed Pricing Range: <br>{{company.rate_range[0]}}% + {{company.per_transaction_range[0]}}$
                                ~ {{company.rate_range[1]}}% + {{company.per_transaction_range[1]}}$<br>
      {% endif %}
    </div>

    {% if company.pricing_method %}
    <div class="company-profile-basic-box">
      Pricing Method: <br>
      {% for method in company.pricing_method%}
      &nbsp;&nbsp;- {{method}} <br>
      {% endfor %}
    </div>
    {% endif %}

    {% if company.provided_srvs %}
    <div class="company-profile-basic-box">
      Provided Services: <br>
      {% for srvs in company.provided_srvs%}
      &nbsp;&nbsp;- {{srvs}} <br>
      {% endfor %}
    </div>
    {% endif %}

    {% if company.complementary_srvs %}
    <div class="company-profile-basic-box">
      Complementary Services: <br>
      {% for srvs in company.complementary_srvs%}
      &nbsp;&nbsp;- {{srvs}} <br>
      {% endfor %}
    </div>
    {% endif %}

    {% if company.equipment %}
    <div class="company-profile-basic-box">
      Equipment <br>
      {% for equip in company.equipment%}
      &nbsp;&nbsp;- {{equip}} <br>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="column right-col company-profile-basic-box">
    <div>
      {% if company.title %}
        <h4>{{ company.title }}</h4>
      {% endif %}
      <p class='trim-1000'>
        {{company.full_description}}
      </p>
    </div>
    <div id='review-box' class='company-profile-basic-box'>
      {% if reviews %}
        {% include 'review.html' %}
      {% else %}
        <p>
          Threre's no review for the company yet.
        </p>
      {% endif %}
      <div id = 'page-moves'>
        <a id ='prev' class='page-move' style="display:none;" href="#">Prev</a>
        <a id ='next' class='page-move' style="display:none;" href="#">Next</a>
      </div>
    </div>
  </div>
</div>
</div>
{{ minified.include_js('base.js', 'company_profile.js') | safe}}
{% endblock %}
