<!DOCTYPE html>
<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="large-company-profile-container">
  <div class="row" style='align-items:flex-end;'>
    <a href="{{company.landing_page}}" target='_blank'>
      <img id="company-profile-logo" class='side-logo' style='align-self:flex-start; padding-right:1rem;' src="{{ url_for('static', filename='img/'+company.company_profile_name + '.png') }}"  alt="{{company.title}}">
    </a>
    <div class="row" style='flex-direction:row;'>
      <a href="{{company.landing_page}}" target = '_blank'>
        <button class='company-apply-button' style = 'display:flex; margin-left:1rem;' type="button" name="apply-button">Apply</button>
      </a>
      {% if current_user.is_authenticated and current_user%}
      <a href="javascript:show_review_box()">
        <button id='company-review-button' style = 'display:flex; margin-left:1rem;' onclick='on_write_review()' class='company-review-button' type="button" name="button">Write a Review</button>
      </a>
      {% else %}
      <a href="javascript:alert_login_required()">
        <button style = 'display:flex; margin-left:1rem;'id='company-review-button' class='company-review-button' type="button" name="wirte-review-button">Write a Review</button>
      </a>
      {% endif %}
    </div>
    {% if company.updated %}
    <p style='font-size:1.3rem;'>
      Last Updated: {{company.updated}}
    </p>
    {% endif %}
  </div>
  {% include 'write_review.html' %}
  <div class="row">
  <div class="column left-col">
    <div class="company-profile-basic-box">
      {% if company.title %}
        <b>Name:</b> {{company.title}}<br>
      {% endif %}
      {% if company.website %}
        <b>Website:</b> {{company.website}}<br>
      {% endif %}
      {% if company.phones %}
        <b>Contact:</b><br>
        <div class="list_p">
          {% for phone in company.phones %}
          &nbsp;&nbsp;- {{ phone }} <br>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="company-profile-basic-box">
      <b>Overall User Rating:</b> <br>
      {% for i in range(company.rounded_rating)%}
      <span class='rating-star'>★</span>
      {% endfor %}
      {% for i in range(5-company.rounded_rating)%}
      <span class='rating-star'>☆</span>
      {% endfor %}
      {{company.avg_rating}} ({{company.num_ratings}}) <br>
    </div>
    {% if company.pricing_method %}
    <div class="company-profile-basic-box">
      <b>Pricing Method:</b> <br>
      <div class='list_p'>
        {% for method in company.pricing_method%}
        &nbsp;&nbsp;- {{method | safe}} <br>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if company.pricing_table %}
      <div class='company-profile-basic-box'>
        <b>Pricing Detail:</b>
        {{company.pricing_table | safe}}
        <div class='footnote'>
          DISCLAIMER: This pricing detail section includes only the most common and prominent fees. Due to the complicated nature of payment processing, there might be other fees. Depending on the situation, the listed fees are not guaranteed.
        </div>
      </div>
    {% endif %}
    {% if company.provided_srvs %}
    <div class="company-profile-basic-box">
      <b>Provided Services:</b> <br>
      <div class="list_p">
        {% for srvs in company.provided_srvs%}
        &nbsp;&nbsp;- {{srvs | safe}} <br>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if company.complementary_srvs %}
    <div class="company-profile-basic-box">
      <b>Complementary Services:</b> <br>
      <div class="list_p">
        {% for srvs in company.complementary_srvs%}
        &nbsp;&nbsp;- {{srvs | safe}} <br>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if company.equipment %}
    <div class="company-profile-basic-box">
      <b>Terminal:</b> <br>
      <div class="list_p">
        {% for equip in company.equipment%}
        &nbsp;&nbsp;- {{equip | safe}} <br>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="column right-col company-profile-basic-box">
    <div>
      {% if company.title %}
        <h4>{{ company.title }}</h4>
      {% endif %}
      {% if company.highlights %}
        <b>Highlights:</b> <br>
        {% for pt in company.highlights%}
          &nbsp;&nbsp;- {{pt | safe}} <br>
        {% endfor %}
      {% endif %}

      <div class="company-profile-basic-box">
      {% if company.full_description %}
        <b>Description:</b>
        <p class='trim-2000'>
          {{company.full_description | safe}}
          <br>
          Find out more about <a href="{{company.landing_page}}" target = '_blank'>{{company.title}}</a>.
        </p>
      {% endif %}
      </div>
    </div>
    <div id='review-box' class='company-profile-basic-box'>
      {% if reviews %}
        {% include 'review.html' %}
      {% else %}
        <p>
          Threre's no review for the company yet.
        </p>
      {% endif %}
      <div id = 'page-moves'>
        <a id ='prev' class='page-move' style="display:none;" href="#">Prev</a>
        <a id ='next' class='page-move' style="display:none;" href="#">Next</a>
      </div>
    </div>
  </div>
</div>
</div>
{% if MODE == 'deploy' %}
  {{ minified.include_js('base.js', 'form_validation.js', 'reviews.js', 'company_profile.js') | safe}}
{% else %}
  <script src="{{url_for('static', filename='js/base.js')}}"></script>
  <script src="{{url_for('static', filename='js/form_validation.js')}}"></script>
  <script src="{{url_for('static', filename='js/reviews.js')}}"></script>
  <script src="{{url_for('static', filename='js/company_profile.js')}}"></script>
{% endif %}

{% endblock %}
