{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
  <h3>Welcome to 52Payments!</h3>
  <div class="search-box">
    <div class="search-row">
      <div id='search-nav' class="search-nav row">
        <button class= 'items-title selected' type="button" onclick="javascript:select_items_title(this)">Business Types</button>
        <button class= 'items-title' type="button" onclick="javascript:select_items_title(this)">Pricing Method</button>
        <button class= 'items-title' type="button" onclick="javascript:select_items_title(this)">Equipments</button>
        <button class= 'items-title' type="button" onclick="javascript:select_items_title(this)">Complimentary Services</button>
      </div>
      <div class="row">
        <div class="column">
          *Select Search Criteria
        </div>
      </div>
      <div id = 'items' class="items">
      </div>
    </div>
    <div class="search-row">
      <div id='chosen-title' class="search-nav row">
      </div>
      <div style='margin-left:0px;' id = 'selected-items' class="items">
      </div>
      <form action='/search_results' method="get" name="search-box-form">
        {{ form.search_criteria }}
        <div id='clear-all' class="button-wrapper">
              <a style='float:right;' href="javascript:clear_search_criteria()">
                Clear All
              </a>
        </div>
        <div class="row">
          <div class="column">
            <a href="javascript:get_search_result()">
              <button style='float:right;' type="button" class="button">Search</button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id = 'featured-title' class="basic-title">
    <h4>Featured Processors</h4>
  </div>
  <div id = 'featured-companies' class="box-row">
    {% for company in companies %}
      {% include 'small_company_box.html' %}
    {% endfor %}
  </div>
  <div id='loader' style='display:none;' class="loader"></div>
  <div id='search-result'>
  </div>
  <script src="{{ url_for('static', filename='js/search-result.js') }}"></script>
<script type="text/javascript">
  var types, search_criteria, current_type, items, selected_items, selected_item_list
  init_search_box();
  var featured_title = document.getElementById('featured-title');
  var featured = document.getElementById('featured-companies');
  var clear_search_criteria = function() {
    sessionStorage.clear();
    items.innerHTML = '';
    selected_items.innerHTML = ''
    document.getElementById('chosen-title').style.opacity= 0;
    init_search_box();
  }
  var get_search_result = function(){
    get_search_result_base(function() {
      featured_title.remove();
      featured.remove();
    });
  }
  if (typeof(search_criteria)!='undefined' & search_criteria.value != ''){
    get_search_result();
  } else {
    add_cont_reading_btn();
  };
</script>

{% endblock %}
