{% extends "base.html" %}
{% block content %}
  <h1>52Payments is currently in development. We will launch our website soon.</h1>
  <div class="search-box">
    <div class="search-row">
      <div id='search-nav' class="search-nav row">
        <div class="column">
          <button id='Pricing_Method' class= 'items-title selected couponcode' type="button" onclick="javascript:select_items_title(this)">
            {{sticky_note('Pricing Method') | safe}}
          </button>
          <button id='Business_Type' class= 'items-title' type="button" onclick="javascript:select_items_title(this)">
            {{sticky_note('Business Type') | safe}}
          </button>
          <button id='Terminal' class= 'items-title' type="button" onclick="javascript:select_items_title(this)">
            {{sticky_note('Terminal') | safe}}
          </button>
          <button id='Complimentary_Service' class= 'items-title' type="button" onclick="javascript:select_items_title(this)">
            {{sticky_note('Complimentary Service') | safe}}
          </button>
          <button onclick='javascript:get_search_result()' style='float:right; margin-top:0.5rem; margin-bottom:0.5rem;' type="button">Search</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
            <h3 style='margin:0;'>*Select Search Criteria</h3>
        </div>
      </div>
      <div id = 'items' class="items">
      </div>
    </div>
    <div class="search-row">
      <div id='chosen-title' class="search-nav row">
      </div>
      <div style='margin-left:0px;' id = 'selected-items' class="items">
      </div>
      <form action='/search_results' method="get" name="search-box-form">
        {{ form.search_criteria }}
        <div id='clear-all' class="button-wrapper">
              <a style='float:right;' href="javascript:clear_search_criteria()">
                Clear All
              </a>
        </div>
      </form>
    </div>
  </div>
  <div id = 'featured-title' class="basic-title">
    <h4>Featured Processors</h4>
  </div>
  <div id = 'featured-companies' class="row">
    {% for company in companies %}
    <div id='featured_{{loop.index0}}' style='display:none;' class='row'>
      {% include 'small_company_box.html' %}
    </div>
    {% endfor %}
  </div>
  <div id='loader' style='display:none;' class="loader"></div>
  <div id='search-result'>
  </div>
  <script type="text/javascript">
    var glossary = {{glossary |safe}};
  </script>
  {% if MODE == 'deploy' %}
    {{ minified.include_js('base.js', 'search.js') | safe}}
  {% else %}
    <script src="{{url_for('static', filename='js/base.js')}}"></script>
    <script src="{{url_for('static', filename='js/search.js')}}"></script>
  {% endif %}
{% endblock %}
