{% extends "base.html" %}
{% block content %}
  <h1 style='text-align:center; text-transform:capitalize; margin:2rem;'>
    Need to accept credit cards?<br>
    These card payment processors can help you!<br>
    <span style='font-weight:bold;'>
      And we can help you quickly find the right one!
    </span>
  </h1>
  <div class="search-box">
    <div class="search-row">
      <div id='search-nav' class="search-nav row">
        <div id='item-titles' class="column">
          <button id='Pricing_Methods' class= 'items-title selected' type="button" onclick="javascript:select_items_title(this)">
            Pricing Methods
          </button>
          <button id='Business_Types' class= 'items-title' type="button" onclick="javascript:select_items_title(this)">
            Business Types
          </button>
          <button id='Terminals' class= 'items-title' type="button"  onclick="javascript:select_items_title(this)">
            Terminals
          </button>
          <button id='Complementary_Services' class= 'items-title' type="button" onclick="javascript:select_items_title(this)">
            Complementary Services
          </button>
          <button onclick='javascript:get_search_result()' style='float:right; margin-top:0.5rem; margin-bottom:0.5rem;' type="button">Search</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
            <h3 style='margin:0;'>*Select Search Criteria</h3>
        </div>
      </div>
      <div id = 'items' class="items">
      </div>
    </div>
    <div class="search-row">
      <div id='chosen-title' class="search-nav row">
      </div>
      <div style='margin-left:0px;' id = 'selected-items' class="items">
      </div>
      <form action='/search_results' method="get" name="search-box-form">
        {{ form.search_criteria }}
        <div id='clear-all' class="button-wrapper">
              <a style='float:right;' href="javascript:clear_search_criteria()">
                Clear All
              </a>
        </div>
      </form>
    </div>
  </div>
  <div id = 'featured-title' class="basic-title">
    <h2>Featured Processors</h2>
  </div>
  <div id = 'featured-companies' class="row">
    {% for company in companies %}
    <div id='featured_{{loop.index0}}' style='display:none;' class='row'>
      {% include 'small_company_box.html' %}
    </div>
    {% endfor %}
  </div>
  <div id='loader' style='display:none;' class="loader"></div>
  <div id='search-result'>
  </div>
  <script type="text/javascript">
    var glossary = {{glossary |safe}};
  </script>
  {{ minified.include_js('base.js', 'search.js') | safe}}
  <script type="text/javascript">
    for (title of document.getElementsByClassName('items-title')){
      title.innerHTML = sticky_note(title.innerHTML);
      title.onmouseleave=function(){hide_hover_message(this);};
      title.onmousecenter = function(){show_hover_message(this);};
      title.onmouseover = function(){show_hover_message(this);};
      title.onclick = function(){select_items_title(this);hide_hover_message(this);};
    }
    init_search_box();
    if (typeof(model.search_criteria)!='undefined' & model.search_criteria.value != ''){
      get_search_result();
    } else {
      add_cont_reading_btn();
    }
  </script>

{% endblock %}
