{% extends "base.html" %}
{% block content %}
<form id = 'login-form' action="" method="post" name="login-form">
    {{ form.hidden_tag() }}
    <div id="login-box" class="form-box">
      <div id="warning_div" class='row'>
        <div style='margin-left:0.5rem;' class="column">
          <ul id="warnings">
            <li class = 'li_warning' id='warning_all'>- All fields are required.</li>
            <li class = 'li_warning' id='warning_email'>- Email can only include letters, numbers, _, @, and dot.</li>
            <li class = 'li_warning' id='warning_password'>- Password needs to be at least 8 charactors long and only include letters, numbers, and special charactor(!@#$%^&*).</li>
          </ul>
        </div>
      </div>
      <div id = 'login-inner-box' class='form-inner-box'>
        {% for field in form %}
          {% if field.name != 'csrf_token' and field.name != 'next' %}
            <div class="row">
              <div style='text-align:left;' class="column">
                {{ field.label.text }}
              </div>
            </div>
            <div class="row">
              <div style='text-align:left;' class="column">
              {{field}}
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <br>
        <div class="row">
          <div class="column">
            <button style='width:90%;' id='login-button' type="submit" name="login-button">Login</button>
          </div>
        </div>
        <a style='font-size:1.4rem;' href="/forgot-password">forgot your password?</a>
        <div class="row">
          <div class="column">
          </div>
          <div class="column">
           or
          </div>
          <div class="column">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div id='signin-button' class="g-signin2" data-onsuccess="onSignIn"></div>
          </div>
        </div>
      </div>
    </div>
</form>
<form id='google-login-form' class="" action="" method="post" name='google-login-form'>
  {{ google_login_form.hidden_tag() }}
  {% for field in google_login_form %}
    {% if field.name != 'csrf_token' and field.name != 'next' %}
        {{field}}
    {% endif %}
  {% endfor %}
</form>
{{ minified.include_js('form_validation.js') | safe}}
<script type="text/javascript">
  var field_ids = ['email', 'password'];
  var button_id = 'login-button';
  var all_warning_id = 'warning_all';
  hide_warnings(field_ids);
  disable_btn('login-button');
  add_validator('password', 'password_re');
  add_validator('email', 'email_re');
  window.onload = function(){
    var a = document.getElementById('signin-button');
    a.childNodes[0].style ='height: 36px; width: 90%; margin:auto;';
  }
</script>
{% endblock %}
