<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h3> Hi Name</h3>

<div id = 'featured-companies' style='overflow:visible;' class="box-row">
  <div style='overflow:visible;' class="small-company-box">
      <h4>My Info</h4>
      <hr>
      hi
  </div>
  <div style='overflow:visible;' class="small-company-box">
      <h4>My Submissions</h4>
      <hr>
      hi
  </div>
  <div style='overflow:visible;' class="small-company-box">
      <h4>My Reviews</h4> 
      <hr>
      hi
      <br>
  </div>
</div>
{% endblock %}
