<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<br>
<div class="row">
  <div class="column left-col">
    <h4>My Info</h4>
    <hr>
    <ul id="warnings">
      <li class = 'li_warning' id='warning_first_name'>- First name can only include letters and '</li>
      <li class = 'li_warning' id='warning_last_name'>- Last name can only include letters and '</li>
      <li class = 'li_warning' id='warning_email'>- Email can only include letters, numbers, _, @, and dot.</li>
      <li class = 'li_warning' id='warning_phone'>- Phone can only include numbers.</li>
    </ul>
    <form id='edit_info_form' method="post">
        {{ edit_info_form.hidden_tag() }}
    <p>
      <span class='plain-value'>
        <b>First Name</b>: <br> <span id='user-first_name'>{{user.first_name}}</span>
      </span>
      {{edit_info_form.first_name}}
    </p>
    <p>
      <span class='plain-value'>
        <b>Last Name:</b> <br> <span id='user-last_name'>{{user.last_name}}</span>
      </span>
      {{edit_info_form.last_name}}
    </p>
    <p>
      <span class='plain-value'>
        <b>Email:</b> <br> <span id='user-email'>{{user.email}}</span>
        <br>
        <span id='email-verify-div'>
          {% if user.email_verified %}
          <i>Your email is verified.</i>
          {% else %}
          <i>Your email is not verified.</i>
          <a href="javascript:account.submit_verify_email()">Verify</a>
          {% endif %}
        </span>
      </span>
      {{edit_info_form.email}}
    </p>
    <p>
      <span class='plain-value'>
        <b>Phone:</b> <br> <span id='user-phone'>{{user.phone}}</span>
      </span>
      {{edit_info_form.phone}}
    </p>
    <p>
      <span class='plain-value'>
        <b>Company Name:</b> <br> <span id='user-company_name'>{{user.company_name}}</span>
      </span>
      {{edit_info_form.company_name}}
    </p>
    <p>
      <span class='plain-value'>
        {% if user.email == user.user_id %}
        <b>Password:</b> <br> xxxxxxxxxx <span id='user-password'></span>
        <br><a href='forgot_password'>Reset Password</a>
        {% endif %}
      </span>
    </p>
    <a id='edit-button' style='float:right;' href="javascript:account.edit_info()">
      Edit
    </a>
    <a id='save-button' style='float:right; display:none;' href="javascript:account.save_edit()">
      Save
    </a>
    <br>
    <a id='cancel-button' style='float:right; display:none;' href="javascript:account.cancel_edit()">
      Cancel
    </a>
  </form>
  </div>
  <div class="column right-col">
    <h4>My Reviews</h4>
    <hr>
    <div id='review-box'>
      {% if reviews %}
        {% include 'review.html' %}
      {% else %}
        <p>
          You did not write any reviews yet.
        </p>
      {% endif %}
      <div id = 'page-moves'>
        <a id ='prev' class='page-move' style="display:none;" href="#">Prev</a>
        <a id ='next' class='page-move' style="display:none;" href="#">Next</a>
      </div>
    </div>
    <br>
  </div>
</div>
<form id='verify-email-form' method="post" name='verify-email-form' style='display:none;'>
  {{ verify_email_form.hidden_tag() }}
  {% for field in verify_email_form %}
    {% if field.name != 'csrf_token' and field.name != 'next' %}
        {{field}}
    {% endif %}
  {% endfor %}
</form>
{{ minified.include_js('base.js', 'my_account.js') | safe}}
{% endblock %}
