<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
  <div class="">
    <br><br>
    <form action="" method="post" name="search-box-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div id="search-box-checks" class="search-checkbox-row'">
          {% for field in form %}
            {% if field.name != 'csrf_token'%}
              <div>
                {{ field.label.text }}
                {{ field }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="button-wrapper">
          <button id='search-button' class='button' type="submit" name="button">Submit</button>
        </div>
    </form>
  </div>
<script type="text/javascript">
  window.onload = function(){
    for (id of ['provided_srvs', 'complementary_srvs', 'equipment', 'pricing_method']){
      document.getElementById(id).style.height='100%';
    }
  }
</script>
{% endblock %}
