{% for review in reviews%}
<div class="review">
  <h5>{{review.title}}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% for i in range(review.rating)%}
      <span class='rating-star'>★</span>
    {% endfor %}
    {% for i in range(5-review.rating)%}
      <span class='rating-star'>☆</span>
    {% endfor %}
    {{review.rating}}
    <span id='user_name'>
      <em>{{ momentjs(review.created).calendar() }} by
        {{review.user_name}}
      </em>
    </span>
  </h5>
  <p class='trim'>
    <em>
      {% if review.company_name %}
      Review for <a href="{{url_for('company', company_profile_name = review.company_profile_name)}}">{{review.company_name}}</a>
      {% endif %}
    </em>
    <br>
    {{review.content}}
  </p><br><br>
  <div class="decision-area">
    <input id = 'urlsafe' type="hidden" name="urlsafe" value="{{review.urlsafe}}">
    <input id = 'type' type="hidden" name="type" value="review">
  </div>
</div>
{% endfor %}
<script type="text/javascript">
  add_cont_reading_btn();
</script>
