<div class="search-box">
  <div class="search-row">
    <div id='search-nav' class="search-nav row">
      <button class= 'items-title selected' type="button" onclick="javascript:select_items_title(this)">Business Types</button>
      <button class= 'items-title' type="button" onclick="javascript:select_items_title(this)">Pricing Method</button>
      <button class= 'items-title' type="button" onclick="javascript:select_items_title(this)">Equipments</button>
      <button class= 'items-title' type="button" onclick="javascript:select_items_title(this)">Complimentary Services</button>
    </div>
    <div class="row">
      <div class="column">
        *Select search criteria (Not selecting any will return all results)
      </div>
    </div>
    <div id = 'items' class="items">
    </div>
  </div>
  <div class="search-row">
    <div id='chosen-title' class="search-nav row">
    </div>
    <div style='margin-left:0px;' id = 'selected-items' class="items">
    </div>
    <form action='/search_results' method="get" name="search-box-form">
      {{ form.search_criteria }}
      <div id='clear-all' class="button-wrapper">
        <a style='float:right;' href="javascript:clear_search_criteria()">
          Clear All
        </a>
      </div>
    </form>
  </div>
</div>
