<div class="column" style= 'max-width:35rem; margin:auto; margin-top:0px; margin-left:1rem;'>
  <div class="row">
    <div class="column">
      <a href="{{url_for('company', company_profile_name = company.company_profile_name)}}" target='_self'>
        <img class='side-logo' style='border-bottom: 1px solid #CAC9C9; padding:1rem;' src="{{ url_for('static', filename='img/'+company.company_profile_name + '.png') }}" alt="{{company.title}}">
      </a>
      <h2 style='margin:0;'>{{company.title}}</h2>
      Overall User Rating <br>
      {% for i in range(company.rounded_rating)%}
      <span class='rating-star'>★</span>
      {% endfor %}
      {% for i in range(5-company.rounded_rating)%}
      <span class='rating-star'>☆</span>
      {% endfor %}
      {{company.avg_rating}}  ({{company.num_ratings}}) <br>
      <div style='height:15rem; overflow:hidden;'>
        {% if company.highlights %}
          <b>Highlights:</b> <br>
          {% for pt in company.highlights%}
            &nbsp;&nbsp;- {{pt | safe}} <br>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div style='text-align:center; margin-top:1rem;'>
    <a href="{{url_for('company', company_profile_name = company.company_profile_name)}}">
    <button style='width:90%; margin-bottom:3rem;' type="button">View Company Profile</button>
    </a>
  </div>
</div>
