<div class="column" style= 'max-width:35rem; margin:auto; margin-top:0px;'>
  <div class="row">
    <div class="column">
      <img class='side-logo' style='border-bottom: 1px solid #CAC9C9; padding-bottom:1rem;' src="/img/{{company.company_profile_name}}" alt="{{company.title}}">
      <h5 style='margin:0;'>{{company.title}}</h5>
      Overall User Rating <br>
      {% for i in range(company.rounded_rating)%}
      <span class='rating-star'>★</span>
      {% endfor %}
      {% for i in range(5-company.rounded_rating)%}
      <span class='rating-star'>☆</span>
      {% endfor %}
      {{company.avg_rating}}  ({{company.num_ratings}}) <br>
      <p class='trim-300'>
        {{company.summary}}
      </p>
    </div>
  </div>
  <div style='text-align:center;'>
    <a href="{{url_for('company', company_profile_name = company.company_profile_name)}}">
    <button style='width:90%; margin-bottom:3rem;' type="button">View Company Profile</button>
    </a>
  </div>
</div>
