<table class='pricing-table'>
  <thead>
    <tr>
      <th style='border-right:0.1rem solid #e1e1e1'></th>
      <th>Fees</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style='border-right:0.1rem solid #e1e1e1'>Card-not-Present</td>
      <td>0.35% + $0.10</td>
    </tr>
    <tr>
      <td style='border-right:0.1rem solid #e1e1e1'>Restaurant</td>
      <td>0.20% + $0.07</td>
    </tr>
    <tr>
      <td style='border-right:0.1rem solid #e1e1e1'>Card-not-Present(Non-Profit)</td>
      <td>0.30% + $0.10</td>
    </tr>
    <tr>
      <td style='border-right:0.1rem solid #e1e1e1'>Card-Swiped(Non-Profit)</td>
      <td>0.20% + $0.10</td>
    </tr>
    <tr>
      <td style='border-right:0.1rem solid #e1e1e1'>Card-Swiped</td>
      <td>0.25% + $0.10</td>
    </tr>

    <tr>
      <td style='border-right:0.1rem solid #e1e1e1'>Monthly Fee</td>
      <th style='text-align:center;' colspan="5">$10</td>
    </tr>
    <tr>
      <td style='border-right:0.1rem solid #e1e1e1'>PCI Compliance Fee</td>
      <th style='text-align:center;' colspan="5">$7.95/month</td>
    </tr>
    <tr>
      <td style='border-right:0.1rem solid #e1e1e1'>Termination Fee</td>
      <th style='text-align:center;' colspan="5">$25</td>
    </tr>
  </tbody>
</table>
