{% extends "base.html" %}
{% block content %}
<div style='margin:auto; margin-top: 3rem;' class='width-80'>
  <h1>
    Terms of Service
    <br>
    <span style='font-size:0.5em;'>Last modified on Feb 1, 2017.</span>
  </h1>
  <p class='larger_p'>
    Please read these Terms of Service completely before using 52payments.com. This Agreement documents the legally binding terms and conditions attached to the use of 52payments.com.
    By using or accessing 52payments.com in any way, viewing, browsing, or adding your own content, user agrees to be bound by and therefore be responsible for these Terms of Service, all applicable laws and regulations. The materials contained in 52payments.com are protected by applicable copyright and trademark law.
  </p>
  <h2>
    Content
  </h2>
  <p class='larger_p'>
    The Content of the website is defined to be everything on 52payments.com regardless of format, including logos, graphics, reviews, page layouts, design, html, css, and etc.
    Intellectual Property
    52payments.com and all of its original Content are the sole property of 52payments and are fully protected by the appropriate international copyright and other intellectual property rights laws.
  </p>
  <h2>
    Use License
  </h2>
  <p class='larger_p'>
    52payments grants a limited, non-exclusive license to access the website for personal, non-commercial use only. The following actions are prohibited, except with the express written consent of 52payments.
  </p>
    <ul>
      <li>
        Downloading or modifying any content of the website, other than page caching.
      </li>
      <li>
        Collecting and/or using any of the materials for commercial purposes. This includes data mining, use of robots, or similar data gathering and extraction tools.
      </li>
      <li>
        Use of framing techniques to enclose any part of the Content of 52payments.com
      </li>
      <li>
        Use of meta tags or any other “hidden text” with any of the 52payments' Content
      </li>
      <li>
        Attempt to decompile or reverse engineer any compoents and the Content 52payments.com
      </li>
      <li>
        Removing any copyright, logo, or other proprietary notations from the materials
      </li>
      <li>
        Transferring or mirroring any of the Content of 52payments.com to any person, server or any other means.
      </li>
    </ul>
  <p class='larger_p'>
    This license shall automatically terminate with any unauthorized use at any time. 52payments reserves the right to terminate use license at any time without any advance
    notice. We do not guarantee continuous or secure access to the website.
    Creation of hyperlink to certain pages of the 52payments.com is permitted provided that the 52payments and any of its Content is described in a false, misleading, derogatory, or offensive manner.
  </p>
  <h2>
    Links to Other Websites
  </h2>
  <p class='larger_p'>
    52payments.com contains a number of links to other websites and online resources that are not owned nor controlled by 52payments. Although we put much effort into reviewing all the links on 52payments.com, 52payments has no control over, and therefore cannot assume responsibility for, the content or general practices of any of these third party sites and/or services. The inclusion of any link does not necessarily imply an endorsement by 52payments of the site. Use of any such linked website is at the user’s own risk. Therefore, we strongly advise you to read the entire terms and conditions and privacy policy of any site that you visit as a result of following a link that is posted on our site.
  </p>
  <h2>
    Content Submission
  </h2>
  <p class='larger_p'>
    By submitting any content to 52payments.com, user agrees to be bound by the terms of the 52payments set forth below:
  </p>
  <ul>
    <li>
      User irrevocably grants 52payments the unrestricted, permanent, universal right to use the submitted content freely in whole or in part in any manners or mediums for any purposes without compensation.
    </li>
    <li>
      Without limitation of the foregoing, User grants 52payments the right to: a) publish the content on 52payments.com and its derivatives; b) use all or any part of the content for the marketing and promotional purposes in any formats, manners, and mediums; and c) edit, abridge, or truncate the contents with the 52payments’ discretion.
    </li>
    <li>
      User acknowledges and represents: a) that user is the sole author, creator and owner of the content being submitted; b) that the content is not in the public domain; c) that the content does not infringe any copyright laws, any intellectual property rights, or the rights of any other third parties; d) that the content does not invade the rights of privacy or publicity of any individual; e) that the content does not contain any matter misrepresentation or any infringements of the rights of any individuals; and f) that all statements in the content claimed to be facts are true.
    </li>
    <li>
      User acknowledges that 52payments reserves rights to publish, edit, delete, and unpublish the content at our discretion any time without advanced notice.
    </li>
  </ul>
  <h2>
    Revision
  </h2>
  <p class='larger_p'>
    The Content on 52payments.com could include technical, typographical, photographic or any kind of errors. Although 52payments puts our best effort, we do not guarantee that any of the Content is accurate, complete, or current. 52payments may make changes to the Content at any time without notice.
  </p>
  <h2>
    Governing Law
  </h2>
  <p class='larger_p'>
    This Agreement is governed in accordance with the laws of Illinois, United States.
  </p>
  <h2>
    Monetization
  </h2>
  <p class='larger_p'>
    52payments does not impose any fees on using or accessing 52payments.com. We only collect fees from the providers when a user contacts or does business with any of the providers whom we have referral partnership agreements with. We do not interfere with such actions. The Contents of 52payments.com such as rating or review are not influenced by any kind of referral partnership agreements.
  </p>
  <h2>
    Changes to This Agreement
  </h2>
  <p class='larger_p'>
    52payments reserves the right to modify these Terms of Service at any time without notice. The decision to continue to visit and use 52payments.com thereafter constitutes the formal acceptance of the new Terms of Service. Please check and review this document occasionally.
  </p>
  <h2>
    Contact Us
  </h2>
  <p class='larger_p'>
    If you have any questions, please feel free to contact us at <a href="mailto:admin@52payments.com">admin@52payments.com</a>.
  </p>
</div>
{% endblock %}
