<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/rating.css') }}">
  <div id='write-review-box' style='display:none;' class="company-profile-basic-box">
    <form action="" method="post" name="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
          {{form.rating.label.text}}:
        </div>
        <div style = 'display:inline-block;' class="row">
          {{form.rating}}
          <div class="rating rating-star">
            <span style='margin-right:10px;' class='rating-star' id='rating_5'>☆</span>
            <span class='rating-star' id='rating_4'>☆</span>
            <span class='rating-star' id='rating_3'>☆</span>
            <span class='rating-star' id='rating_2'>☆</span>
            <span class='rating-star' id='rating_1'>☆</span>
          </div>
          <div id= 'rating_text' class="">
          </div>
            <a style='float:right;' href="#">
              <button style ='width:100%;' onclick='close_write_review()' id='' class= 'button' type="button" name="button">Close</button>
            </a>
        </div>
        <div class="row">
            {{form.title.label.text}}:
        </div>
        <div class="row">
          {{form.title}}
        </div>
        <div class="row">
          {{form.content.label.text}}:
        </div>
        <div class="row">
          {{form.content}}
        </div>

        <div style='display:inline-block;' class="button-wrapper row">
          <button onclick='clean_value()' id='review-submit-button' class='button' type="submit" name="button">Submit</button>
        </div>
    </form>
  </div>
  <script type="text/javascript">
    disable_btn('review-submit-button');
    var input_list = ['rating', 'title', 'content'];
    var check_all = function(){
      var bad = check_all_field(input_list);
      if (!bad){
        enable_btn('review-submit-button');
      } else {
        disable_btn('review-submit-button');
      };
    }
    for (var i = 0; i < input_list.length; i++){
      var elem = document.getElementById(input_list[i]);
      elem.setAttribute('oninput', 'check_all()');
    };

    var close_write_review = function(){
      document.getElementById('write-review-box').style = 'display: none;'
    }
    var rating_input = document.getElementById('rating');
    var rating_text = document.getElementById('rating_text');
    rating_input.value = 0;
    var ratings = []
    for (var i=1; i< 6;i++){
      ratings.push(document.getElementById('rating_'+ i));
    };
    for (var i = 0; i < ratings.length; i++){
      var rating = ratings[i];
      rating.addEventListener('click', (function(rating, i){
        return function() {
          var rating_num = i+1;
          rating_input.value = rating_num;
          rating_text.innerHTML = rating_num;
          for (var j = 0; j < rating_num; j++){
            ratings[j].innerHTML = '★';
          };
          for (var q = rating_num; q < 5 ; q++){
            ratings[q].innerHTML = '☆';
          };
          };
      })(rating, i));
    }
  </script>
