<div id='write-review-box' style='display:none;' class="company-profile-basic-box row">
  <form action="" method="post" name="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="column">
          {{form.rating.label.text}}:
        </div>
      </div>
      <div style = 'display:inline-block;' class="row">
        {{form.rating}}
        <div class="column">
          <div class="rating rating-star">
            <span style='margin-right:10px;' class='rating-star' id='rating_5'>☆</span>
            <span class='rating-star' id='rating_4'>☆</span>
            <span class='rating-star' id='rating_3'>☆</span>
            <span class='rating-star' id='rating_2'>☆</span>
            <span class='rating-star' id='rating_1'>☆</span>
          </div>
          <div id= 'rating_text' class="">
          </div>
        </div>
        <div class="column">
            <button style ='float:right;' onclick='close_write_review()' id='close-write-review-tab' type="button" name="close-write-review-tab">Close</button>
        </div>
      </div>
      <div class="row">
          {{form.title.label.text}}:
      </div>
      <div class="row">
        {{form.title}}
      </div>
      <div class="row">
        {{form.content.label.text}}:
      </div>
      <div class="row">
        {{form.content}}
      </div>

      <div style='display:inline-block;' class="row">
        <div class="column" style='text-align:center'>
          <button id='review-submit-button' type="submit" name="submit-review-button">Submit</button>
        </div>
      </div>
  </form>
</div>
<script type="text/javascript">
  var input_list = ['rating', 'title', 'content'];
  var rating_input = document.getElementById('rating');
  var rating_text = document.getElementById('rating_text');
  var ratings = []
  function close_write_review(){
    document.getElementById('write-review-box').style = 'display: none;'
  }
  function check_all(){
    var bad = check_all_field(input_list);
    if (!bad){
      enable_btn('review-submit-button');
    } else {
      disable_btn('review-submit-button');
    };
  }
  document.getElementById('title').setAttribute('maxlength', '120')
  document.getElementById('content').setAttribute('maxlength', '5000')
  disable_btn('review-submit-button');
  for (var i = 0; i < input_list.length; i++){
    var elem = document.getElementById(input_list[i]);
    elem.setAttribute('oninput', 'check_all()');
  }
  rating_input.value = '';
  for (var i=1; i< 6;i++){
    ratings.push(document.getElementById('rating_'+ i));
  };
  for (var i = 0; i < ratings.length; i++){
    var rating = ratings[i];
    rating.addEventListener('click', (function(rating, i){
      return function() {
        var rating_num = i+1;
        rating_input.value = rating_num;
        rating_text.innerHTML = rating_num;
        for (var j = 0; j < rating_num; j++){
          ratings[j].innerHTML = '★';
        };
        for (var q = rating_num; q < 5 ; q++){
          ratings[q].innerHTML = '☆';
        };
        check_all();
        };
    })(rating, i));
  }
</script>
